<!--views/category.ejs-->
<%- include("partials/header.ejs") %>

<style>
.category{
  display:grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap:20px;
}
.category .post-outer .thumb{
  padding-top: 56.25%;
  position:relative;
}
.category .post-outer .img-outer{
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  overflow:hidden;
}
.category .post-outer img{
  width:100%;
  min-height:100%;
}
.category .post-outer .post-title{
  font:14px/1.5 "Sriracha", "Odor Mean Chey";
  color:rgb(71, 70, 70);
  margin:5px 0;
}
.category .post-outer .post-date{
  font:12px/1.5 Arial, "Odor Mean Chey";
  position:absolute;
  right:3px;
  top:0;
  color:white;
  text-shadow: 2px 2px 4px #000000;
}
#pagination{
  text-align:center;
  padding-top:5px;
}
#pagination img:hover{
  cursor:pointer;
  opacity:.7;
}
</style>

<div id="main-content" class="main-content">
  <div id="content" class="content">
    <div id="category" class="category">
    <% if(postList.length > 0) { %>
      <% for(var i = 0; i < postList.length; i++) { %>
        <div class="post-outer">
          <div class="thumb">
            <div class="img-outer">
              <a href="<%- postList[i].url %>"><img src="<%- postList[i].thumbUrl %>" /></a>
            </div><!--img-outer-->
            <div class="post-date"><%- postList[i].date %></div>
          </div><!--thumb-->
          <div class="post-entry">
            <div class="post-title"><a href="<%- postList[i].url %>"><%- postList[i].title %></a></div>
          </div><!--post-entry-->
        </div><!--post-outer-->
      <% } %><!--for-->
    <% } %><!--if-->
    </div><!--category-->
    <div id="pagination" class="pagination">
      <img onclick="util.paginateCategory('<%- postList[0].category %>', <%- postList.length %>);" src="/images/more.png" />
    </div>
    <script>
      const util = new Utility();
      util.resize('.category .img-outer');
    </script>
  </div><!--content-->
  <%- include("partials/sidebar.ejs") %>
</div><!--main-content-->

<%- include("partials/footer.ejs") %>