<!--index.ejs-->
<%- include("partials/header.ejs") %>

<style>
  .index .post-outer{
    display:grid;
    grid-template-columns: 40% auto;
    margin-bottom:15px;
    grid-gap:10px;
  }
  .index .post-outer:nth-last-child(1){
    margin-bottom:0;
  }
  .index .post-outer .thumb{
    padding-top: 56.25%;
    position:relative;
  }
  .index .post-outer .img-outer{
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    overflow:hidden;
  }
  .index .post-outer img{
    width:100%;
    min-height:100%;
  }
  .index .post-outer .post-title{
    font:18px/1.5 Anton, Bayon;
    color:rgb(71, 70, 70);
    margin-bottom:10px;
  }
  .index .post-outer .post-date{
    font:14px/1.5 Arial, "Odor Mean Chey";
  }
</style>

<div id="main-content" class="main-content">
  <div id="content" class="content">
    <div id="index" class="index">
    <% if(postList.length > 0) { %>
      <% for(var i = 0; i < 5; i++) { %>
        <div class="post-outer">
          <div class="thumb">
            <div class="img-outer">
              <a href="<%- postList[i].url %>"><img src="<%- postList[i].thumbUrl %>" /></a>
            </div><!--img-outer-->
          </div><!--thumb-->
          <div class="post-entry">
            <div class="post-title"><a href="<%- postList[i].url %>"><%- postList[i].title %></a></div>
            <div class="post-date"><%- postList[i].date %></div>
          </div><!--post-entry-->
        </div><!--post-outer-->
      <% } %><!--for-->
    <% } %><!--if-->
    </div><!--index-->
    <script>
      $(window).resize(function(){
        const width = $('.index .img-outer').css("width");
        const height = parseInt(width)/16*9;
        $('.index .img-outer').css("height", height);
      });
    </script>
  </div><!--content-->
  <%- include("partials/sidebar.ejs") %>
</div><!--main-content-->

<%- include("partials/footer.ejs") %>